ErrorDocument 404 /404.html
ErrorDocument 403 /403.html

RewriteEngine On
<Files "SirDictatorLore.html">
    Require all denied
</Files>
<Files "SirDictator.html">
    Require all denied
</Files>
<FilesMatch "\.(config|ini|log)$">
    Require all denied
</FilesMatch>